#displayYear {
  font-family: 'Roboto', sans-serif;
  font-size: 40pt;
  letter-spacing: -2px;
  z-index: 1;
  margin: 0px;
}

#myVal {
  top: 160px;
  width: 100px;
}

#sources {
    position: absolute;
    bottom: -285px;
    left: -590px;
    width: 1500px;
    font: 10px sans-serif;
  }

#Submit, #play-button, #plusFive, #plusTen, #minusFive, #minusTen {
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1px;
  border-radius: 3px;
  border: none;
  color: white;
  width: 60px;
  cursor: pointer;
  height: 30px;
  background-color: var(--secondary-color);
  
}

#Submit:hover, #play-button:hover {
  background-color: var(--quarternary-color);
}



h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

#sum {
  font-size: 25px;
}

#sumText {
  font-size: 18px;
  font-weight: bold;
}

#toolChart {
  position: absolute;
  visibility: hidden;
  color: var(--tertiary-color);
  padding: 8px;
  background-color: rgba(44, 53, 49, 0.8);
  border-radius: 3px;
  text-align: center;
  width: 350px;
  font-family: 'avenir next', sans-serif;
  line-height: 25px;
}

#description {
  margin-left: 300px;
  margin-right: 300px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

#yearText {
  font-size: 80px;
  font-family: 'Roboto Slab', sans-serif;
}

#buttonsArea, #buttonsAreaTwo {
  width: 300px;
  position: relative;
  left: 50px;
  top: -690px;
  z-index: 2;
}

#buttonsAreaTwo {
  left: 220px;
  top: -820px;
}