input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
  #searchText{
    position: absolute;
    top: 220px;
    left: 145px;
    z-index: 1;
}
#searchText2{
    position: absolute;
    top: 290px;
    left: 145px;
    z-index: 1;}
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: black;
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: black;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: black;
      }
      #pSVG, #Tchart {
        background-color: #F7F9FB;
        border-width: 1px;
        border-radius: 1px;
        border-color: #687864;
        padding-bottom: 0px;
      }


  .y.axis path {
    display: none;
  }

  .y.axis line {
    stroke: rgb(26, 22, 22);
    stroke-opacity: 1;
    stroke-width: 1px;
}

  .y.axis .zero line {
    stroke: #000;
    stroke-opacity: 1;
    stroke-width: 1.5px;
  }

  .title {
    font-family: 'Roboto', sans-serif;

    font: 300 78px 'Roboto';
    fill: #666;
  }
  .globTit {
    font-family: 'Roboto', sans-serif;

    font: 300 26px 'Roboto';
    fill: #666;
  }

  .title2 {
    position:absolute;
    font-family: 'Roboto', sans-serif;
    font: 300 58px 'Roboto';
    fill: #666;
  }
  .tempYear,.tempYear1,
  .month {
    font-family: 'Roboto', sans-serif;

    text-anchor: middle;
  }

  .tempYear {
    fill: #fff;
  }
  .dataInfo  {
    position: absolute;
    left: 0px;
    width: 110px;
    height: 80px;
    font-family: 'Roboto', sans-serif;
    font: 300 23px 'Roboto';
    fill: #666;
    background-color: var(--light-smoke);
    z-index: -1;

    border-radius: 2px;
    border: solid;
    border-color: var(--secondary-color);
    border-radius: 5px;
  }
  .displayDiv  {
    position: absolute;
    bottom: 80px;
    left: 230px;
    width: 110px;
    height: 80px;
    background-color: var(--light-smoke);
    z-index: -1;

    border-radius: 2px;
    border: solid;
    border-color: var(--secondary-color);
    border-radius: 5px;
  }
  .displayDivRight  {
    position: absolute;
    bottom: 80px;
    right: 200px;
    width: 110px;
    height: 80px;
    text-align: center;
    background-color: var(--light-smoke);
    z-index: -1;

    border-radius: 2px;

    border: solid;
    border-color: var(--secondary-color);
    border-radius: 5px;
  }
  .initialText {
    color: #FFEAAA;
  }

  #imageText {
    text-align: left;
    padding: 20px;
    background-color: #111111;
    opacity: 0.5;
    border-radius: 10px;
    margin-left: 600px;
    margin-right: 250px;
    width: 600px;
  }
  
  rects {
    fill-opacity: .6;
    fill: #1f77b4;
  }
  rects:first-child {

    fill: #6272a4;
  }
  rect:nth-child(2) {
    fill:transparent;
  }
  #inds{

      position: relative;
      top:-6px;
      left:-75px;
      z-index: 1;
  }
  #educate{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    position:absolute;
    top: 130px;
    right: 30px;
    width: 210px;
}
#educate1{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;

    position:absolute;
    top:80px;
    right:50px;
    width: 210px;
}
.compStyle {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    left:10px;
    position: absolute;
    top: 320px;
    width: 270px;
    z-index: 1;
  }
  .instructions {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    left:10px;
    position: absolute;
    top: 320px;
    width: 270px;
    z-index: 1;
  }

  .instructions2 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    left:10px;
    position: absolute;
    top: 320px;
    width: 270px;
    z-index: 1;
  }
  .texted {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    position: absolute;
    fill: black;
    z-index: 1;
  }
  .texted2 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    position: absolute;
    fill: maroon;
    z-index: 1;
  }
  #insn{
      position: relative;
  }


  #sources {
    position: absolute;
    bottom: -40px;
    left: -530px;
    width: 1500px;
    font: 10px sans-serif;
  }
  divs.tooltip {
    position: absolute;
    color: var(--tertiary-color);
    padding: 8px;
    background-color: rgba(44, 53, 49, 0.8);
    border-radius: 3px;
    text-align: center;
    width: 200px;
    font-family: 'avenir next', sans-serif;
    font-size: 16px;
    line-height: 25px;
    height: 40px;
    pointer-events: none;
    z-index: 1;
  }
  #play-button{
      position: relative;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1px;
  border-radius: 3px;
  border: none;
  color: white;
  width: 60px;
  cursor: pointer;
  height: 30px;
  top: 60px;
  right:400px;
  background-color: var(--secondary-color);
  }
  #play-button2{
    position: relative;
font-family: 'Nunito', sans-serif;
letter-spacing: 1px;
border-radius: 3px;
border: none;
color: white;
width: 60px;
cursor: pointer;
height: 30px;
top: 60px;
right:400px;
background-color: var(--secondary-color);
}
  #buttonsArea, #buttonsArea2 {
    width: 300px;
    position: relative;
    left: 50px;
    top: 170px;
    z-index: 1;
  }
  #buttonsArea2 {
      position: relative;
    left: 50px;
    top: 250px;
  }
  #leftButt{
    position: absolute;
    left: 100px;
    top: 110px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
    color: var(--primary-color);
    padding-right: 26px;
    border-radius: 3px;
    border: none;
    color: #f8f8f2;
    margin: 0;
    padding: 0 12px;
    width: 100px;
    cursor: pointer;
    height: 50px;
    background-color: #282a36;
    z-index: 1;

  }
  #rightButt {
    position: absolute;
    left: 100px;
    top: 50px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
    color: var(--primary-color);
    padding-right: 26px;
    border-radius: 3px;
    border: none;
    color: #f8f8f2;
    margin: 0;
    padding: 0 12px;
    width: 100px;
    cursor: pointer;
    height: 50px;
    background-color: #282a36;
    z-index: 1;

  }
#displayYear, #choroYear1, #choroYear2 {
  font-family: 'Roboto', sans-serif;
  font-size: 40pt;
  letter-spacing: -2px;
  z-index: 1;
  margin: 0px;
}
#sum, #choroSum, #vs {
  font-size: 25px;
}

#choroSumText, #choroSumText2, #topHeader, #botHeader {
  font-size: 18px;
  font-weight: bold;
}
  
.duoImage {
  height: 700px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-top: 180px;
  background-size: cover;
}

#tempImage {
  background-image: url(../img/sunBG.jpg);
}

.imageText {
  text-align: center;
  padding: 20px;
  background-color: rgba(17, 17, 17, 0.5);
  border-radius: 5px;
  margin-left: 250px;
  margin-right: 250px;
}

.white-text {
  line-height: 30px;
  font-family: 'Raleway', sans-serif;
  color: #F7F9FB;
}

.initialText {
  color: #F7F9FB;
  line-height: 30px;
  font-family: 'Raleway', sans-serif;
}

.colorBar {
  height: 260px;
  padding-top: 50px;
  background-color: #3B444C;
}

#tempImageTwo {
  padding-top: 50px;
  background-image: url(../img/MoreDuotone.jpg);
}

.header, .headerBar {
  color: white;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-weight: lighter;
}

#tempLogo {
  max-width: 30%;
}

#header {
  background-color: #3B444C;
}

a {
  color: lightgrey;
}

a:hover {
  color: white;
}