.initialText {
    color: white;
  }

  #imageText {
    text-align: left;
    padding: 20px;
    background-color: #111111;
    opacity: 0.5;
    border-radius: 10px;
    margin-left: 600px;
    margin-right: 250px;
    width: 600px;
  }

  .header, .headerBar {
  color: white;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-weight: lighter;
}

.colorBar {
  height: 260px;
  padding-top: 50px;
  background-color: #3B444C;
}

#tempImageTwo {
  padding-top: 50px;
  background-image: url(../img/MoreDuotone.jpg);
}