path {
    stroke: #fff;
}

h1 {
    position:relative;
    top:50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
}
p {
    position:relative;
    top:50px;
    font-family: 'Nunito', sans-serif;
}

#yeartxt {
    top:150px;
}
#yearslider{
    width:60%;
    position:relative;
    top:50px;
}

#shortDescription {
	margin-left: 300px;
	margin-right: 300px;
}

body {
	margin-bottom: 10px;
}