#play-button {
  background: #f08080;
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 0;
  padding: 0 12px;
  width: 60px;
  cursor: pointer;
  height: 30px;
}

#play-button:hover {
  background-color: #696969;
}

#displayYear {
  font-family: 'Montserrat', sans-serif;
  font-size: 90pt;
  letter-spacing: -17px;
  z-index: 1;
  opacity: 0.5;
  margin: 0px;
}

#displayYearDiv {
  position: absolute;
  top: 150px;
  left: 1200px;
  background-color: #EDEDED;
  padding-left: 40px;
  border-radius: 20px;
  border: solid;
  border-color: #A9A9A9;
  padding-left: 10px;
  padding-right: 20px;
  height: 150px;
}

button, #myVal, #Submit, #instructions {
  position: absolute;
  top: 300px;
  left: 30px;
}

#myVal {
  top: 340px;
  width: 100px;
}

#Submit {
  top: 370px;
}

#instructions {
  top: 400px;
  width: 100px;
}