#displayYear {
  font-family: 'Roboto', sans-serif;
  font-size: 50pt;
  letter-spacing: -5px;
  z-index: 1;
  opacity: 0.5;
  margin: 0px;
}

.displayDiv  {
  position: absolute;
  top: 150px;
  left: 1130px;
  padding-left: 10px;
  padding-right: 20px;
}

button, #myVal, #Submit, #instructions {
  position: absolute;
}

#myVal {
  top: 160px;
  width: 100px;
}

#Submit {
  top: 200px;
}

#instructions {
  top: 40px;
  width: 100px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

#topThree {
  top: 250px;
  left: 1050px;
}

#userInput {
  left: 200px;
}

h3 {
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

img {
  width: 70%;
}

#legend {
  top: 740px;
  left: 80px;
}