
h1 {
    position:relative;
    top:50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
}
p {
    position:relative;
    top:50px;
    font-family: 'Nunito', sans-serif;
}

#yeartxt {
    position: relative;
    top:170px;
    left: -25%;
    z-index: 1;
}
#yearslider{
    width:60%;
    position:relative;
    top:50px;
    
}
#selectTxt{
    position: relative;
    top: 280px;
    left: 60px;
}
#selectFile{
    position:absolute;
    top:300px;
    left:60px;
}
#toolTip {
    position: absolute;			
    text-align: center;			
    width: 150px;					
    height: 50px;					
    padding: 2px;			
    font-family:12px 'Roboto', sans-serif;
  
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;		
  }

#shortDescription {
	margin-left: 300px;
	margin-right: 300px;
}


body {
  
    margin-bottom: 10px;
    
  
}

text {
    font: 10px sans-serif;
    text-anchor: middle;
}