
h1 {
    position:relative;
    top:50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
}
p {
    position:relative;
    top:50px;
    font-family: 'Nunito', sans-serif;
}

#yeartxt {
    position: relative;
    top:160px;
    left: -400px;
    z-index: 1;
}
#yearslider{
    width:60%;
    position:relative;
    top:-20px;
    left: 150px;
    z-index: 1;
    background: "black";
}
#searchText, #searchSubmit{
    position: relative;
    top: 200px;
    left: -1060px;
    z-index: 1;
}
#searchErr{
    position: relative;
    top: 200px;
    left: -600px;
    font-size: 11px;
    z-index: 1;
}
#selectTxt{
    position: relative;
    top: 50px;
    left: -600px;
    z-index: 1;
}
#selectFile{
    position: relative;;
    top:50px;
    left:-600px;
    z-index: 1;
}
#toolTip {
    position: absolute;			
    text-align: center;			
    width: 150px;					
    height: 50px;					
    padding: 2px;			
    font-family:12px 'Roboto', sans-serif;
  
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;		
  }

#shortDescription {
	margin-left: 300px;
    margin-right: 300px;
    z-index: 1;
}


body {
  
    margin-bottom: 10px;
    
  
}

text {
    font: 10px sans-serif;
    text-anchor: middle;
}