#displayYear {
  font-family: 'Roboto', sans-serif;
  font-size: 40pt;
  letter-spacing: -2px;
  z-index: 1;
  margin: 0px;
}

.displayDiv  {
  position: absolute;
  top: 80px;
  left: 1130px;
  padding: 15px;
  background-color: var(--light-smoke);
  border-radius: 2px;
  border: solid;
  border-color: var(--secondary-color);
  border-radius: 5px;
}

#myVal {
  top: 160px;
  width: 100px;
}

#Submit {
  top: 200px;
}

#sources {
    position: absolute;
    bottom: -285px;
    left: -590px;
    width: 1500px;
    font: 10px sans-serif;
  }

#Submit, #play-button, #plusFive, #plusTen, #minusFive, #minusTen {
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1px;
  color: var(--primary-color);
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 0;
  padding: 0 12px;
  width: 60px;
  cursor: pointer;
  height: 30px;
  background-color: var(--secondary-color);
}

#Submit:hover, #play-button:hover {
  background-color: var(--quarternary-color);
}

#instructions {
  top: 40px;
  width: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

#topThree {
  top: 600px;
  right: 5px;
  width: 300px;
}

#userInput {
  left: 7px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

img {
  width: 60%;
  height: auto;
  margin-bottom: 5px;
}

#sum {
  font-size: 25px;
}

#sumText {
  font-size: 18px;
  font-weight: bold;
}

#toolChart {
  position: absolute;
  visibility: hidden;
  color: var(--tertiary-color);
  padding: 8px;
  background-color: rgba(44, 53, 49, 0.8);
  border-radius: 3px;
  text-align: center;
  width: 350px;
  font-family: 'avenir next', sans-serif;
  line-height: 25px;
}

#description {
  margin-left: 300px;
  margin-right: 300px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

#northAmerica, #europe, #asia {
  border: none;
  margin: -3px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  text-align: left;
}

#mainChart {
  border-bottom: none;
  margin-bottom: -1px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
